@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@400;600&display=swap");

/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Resets */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: inherit;
}

/* end Resets */

/* Utilities */

.title {
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 92%;
  max-width: 900px;
}

.container-large {
  max-width: 1024px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.paragraph {
  font-size: 14px;
  line-height: 22px;
}

.button {
  width: 100%;
  padding: 15px 0;
  background-color: rgb(1, 243, 187);
  text-align: center;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.button:hover {
  color: white;
  background: rgb(1, 243, 187);
  background: linear-gradient(
    53deg,
    rgba(1, 243, 187, 0.8995973389355743) 0%,
    rgba(0, 0, 236, 1) 100%
  );
}

.line-break {
  display: block;
}

@media (min-width: 500px) {
  .title {
    font-size: 40px;
    line-height: 48px;
  }

  .paragraph {
    font-size: 15px;
  }

  .line-break {
    display: inline;
  }
}

@media (min-width: 768px) {
  .button {
    display: inline;
    width: auto;
    font: 18px;
    padding: 15px 60px;
  }

  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
  }

  .container-large {
    width: 90%;
    max-width: 1200px;
  }

  .title {
    font-size: 48px;
    line-height: 62px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}

/* end Utilities */

/* Header - Menu */

#header {
  padding: 10px 0;
  position: relative;
  z-index: 10;
}

#header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 20px;
  height: 14px;
  position: relative;
  display: block;
}

.hamburger::before,
.hamburger::after,
.hamburger span {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: gray;
}

.hamburger::before,
.hamburger::after {
  content: "";
  transition: all 0.3s linear;
}

.hamburger::before {
  top: 0%;
}

.hamburger::after {
  bottom: 0%;
}

.hamburger span {
  top: calc(50% - 1px);
  transition: opacity 0.3s linear;
}

#toggle-menu {
  display: none;
}

/* 
El estado checked de un input con type="checkbox" permite
crear un pseudo estado de verdadero y falso, de esta forma
podemos simular cuando algo está encendido o apagado; en este
caso, cuando el menu está abierto o cuando el menu esta cerrado.
Entonces usamos el selector + para seleccionar al hermano
consecuente del input.
*/
#toggle-menu:checked + .hamburger span {
  opacity: 0;
}

#toggle-menu:checked + .hamburger::before,
#toggle-menu:checked + .hamburger::after {
  width: calc(100% * 1.22);
  transform-origin: 0% 50%;
}

#toggle-menu:checked + .hamburger::before {
  transform: rotate(30deg);
}

#toggle-menu:checked + .hamburger::after {
  transform: rotate(-30deg);
}

/* El position absolute se mueve de acuerdo al padre Nav
"relative" */

.list-menu {
  position: absolute;
  right: 0;
  top: 44px;
  background-color: #0000ec;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 18px 0;
  width: 0;
  transform: translateX(
    100%
  ); /* Se traslada al final de la medida del elemento. */
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .list-menu {
    transition: all 0.3s ease-in-out;
  }
}

#toggle-menu:checked ~ .list-menu {
  transform: translateX(
    0
  ); /* Se traslada al inicio de la medida del elemento. */
  width: 100%;
}

.list-menu .container li {
  margin-bottom: 30px;
}

.list-menu .container li:last-child {
  margin-bottom: 0px;
}

.list-menu li > a {
  display: block;
}

.list-menu li > a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

.list-menu li > a:active {
  color: #060a2456;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  #header img {
    width: 36px;
    height: 36px;
  }

  .list-menu .container {
    display: flex;
    width: auto;
  }

  .hamburger {
    display: none;
  }

  .list-menu {
    width: auto;
    overflow-x: auto;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    color: black;
  }

  .list-menu .container li {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .list-menu .container li:last-child {
    margin-right: 0;
  }
}

/* end Header - Menu */

/* Main */

main {
  padding: 30px 0px;
}

main p {
  padding: 15px 0 30px;
}

.tachado {
  position: relative;
}

.tachado::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 58%;
}

@media (min-width: 500px) {
  main .title {
    font-size: 52px;
    line-height: 64px;
  }
}

@media (min-width: 768px) {
  .punto-color {
    color: #0000ec;
  }

  main {
    padding: 60px 0;
  }

  main .title {
    font-size: 64px;
    line-height: 84px;
  }

  main p {
    padding: 15px 0 60px;
    width: 600px;
  }
}

/* end Main */

/* Section 1 - Episodios */

#episodios {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 164, 1) 0%,
    rgba(0, 1, 254, 1) 100%
  );
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  padding: 70px 0 140px;
}

#episodios .title {
  padding-bottom: 20px;
  color: white;
}

.container iframe {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #episodios {
    background: rgb(0, 1, 224);
    background: linear-gradient(
      270deg,
      rgba(0, 1, 224, 1) 0%,
      rgba(0, 0, 193, 1) 100%
    );
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    padding: 110px 0 160px;
  }

  #episodios .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #episodios .container > iframe {
    width: 48%;
    margin-bottom: 40px;
  }
}

/* end Section 1 - Episodios */

/* Section 2 - Nosotros */

#nosotros {
  padding-bottom: 40px;
  position: relative;
  margin-top: -100px;
}

#nosotros img {
  margin-bottom: 30px;
}

#nosotros .title {
  margin-bottom: 8px;
}

#nosotros .paragraph-bottom {
  padding-bottom: 12px;
}

@media (min-width: 650px) {
  #nosotros {
    margin-top: -40px;
  }

  #nosotros .container {
    display: flex;
    align-items: center;
  }

  #nosotros img {
    width: 50%;
  }

  #nosotros .container > div {
    max-width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 830px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  #nosotros {
    margin-top: -140px;
  }

  #nosotros .container {
    justify-content: space-between;
  }

  #nosotros .title {
    margin-top: -10px;
  }
}

/* end Section 2 - Nosotros */

/* Section 3 - Entrevistas */

.all-img > li {
  width: 100%;
  height: calc(100vw - 77px);
}

.all-img > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 500px) {
  .all-img {
    display: flex;
    flex-wrap: wrap;
  }

  .all-img > li {
    width: calc(100% / 2);
    height: calc(100vw / 3);
  }
}

@media (min-width: 768px) {
  #entrevistas .container {
    margin-bottom: 26px;
  }

  .all-img > li {
    width: calc(100% / 3);
    height: calc(100vw / 4);
  }
}

/* end Section 3 - Entrevistas */

/* Section 4 - Tópicos */

#topicos {
  padding: 40px 0;
}

#topicos .title {
  margin-bottom: 30px;
}

.topicos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicos-list li {
  margin-bottom: 60px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.topicos-list li:last-child {
  margin-bottom: 0px;
}

.topicos-list li img {
  margin-bottom: 12px;
}

.subtitle {
  font-size: 24px;
  max-width: 303px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  #topicos {
    padding: 60px 0px 30px;
  }

  .topicos-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: inherit;
  }

  .topicos-list li {
    margin-bottom: 0;
    width: 25%;
  }

  .topicos-list li img {
    margin-bottom: 20px;
  }

  .subtitle {
    max-width: 220px;
    margin: 0 auto;
  }

  #topicos .title {
    margin-bottom: 60px;
  }
}

/* end Section 4 - Tópicos */

/* Footer - novedades */

.novedades {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 164, 1) 0%,
    rgba(0, 1, 254, 1) 100%
  );
  padding: 80px 0px;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.novedades .title {
  color: white;
  padding: 0 40px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .novedades {
    background: rgb(0, 1, 224);
    background: linear-gradient(
      270deg,
      rgba(0, 1, 224, 1) 0%,
      rgba(0, 0, 193, 1) 100%
    );
    text-align: center;
    padding: 160px 0px 150px;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  }

  .novedades .title {
    margin-bottom: 60px;
  }
}

/* end Footer - novedades */

/* Footer - social-media */

.social-media {
  background-color: #ffffff;
  padding: 25px 0 35px;
  text-align: center;
}

.social-media p {
  margin-bottom: 20px;
}

.social-media .icon {
  font-size: 16px;
}

.social-media a:hover {
  color: #01f3bb;
}

@media (min-width: 768px) {
  .social-media {
    background-color: #ffffff;
    padding: 35px 0;
    text-align: center;
  }

  .social-media .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-media p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .social-media li {
    margin-right: 30px;
  }

  .social-media .icon {
    font-size: 18px;
  }

  .social-media li:last-child {
    margin-right: 0;
  }
}

/* end Footer - socia-media */
